/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Barra de navegación */
nav {
  background-color: #8E7AB5;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

select {
  padding: 8px;
  font-size: 16px;
  background-color: #fff;
  color: #8E7AB5;
}

option {
  background-color: #fff;
  color: #B784B7;
}

option:hover {
  background-color: #ddd;
  color: #B784B7;
} 

/* Titulos (barra y footer) */
h2 {
  margin-top: 0;
}

/* Texto general */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #fff;
  margin: 0 auto; 
  max-width: 800px;
  padding: 0 20px;
  color: #566b78;
}

/* Subtitulos */
h3 {
  margin-top: 0;
  color: #8E7AB5;
}

/* Links */
a {
  color: #E493B3;
  text-decoration: none;
}

a:hover {
  color: #B784B7;
}

/* Bold */
strong {
  color: #B784B7;
}

/* Imagen */
.img {
  width: 100%;
  margin: 0 auto; 
  max-width: 800px;
  padding: 0;
  margin-bottom: 20px; 
}

.imagen-intro {
  width: 100%;
  max-width: 100%; 
  height: auto; 
  display: block; 
  margin: 0 auto;
}

.imagen-intro {
  border-radius: 10px;
}

/* Botón de selección */
.container {
  text-align: center;
}

.button {
  background-color: #E493B3; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px; 
  font-size: 16px;
}

.button:hover {
  background-color: #B784B7; 
}

/* Tabla */
table {
  width: 100%;
  border-collapse: collapse; 
  margin-bottom: 20px;
}

thead {
  background-color: #333;
  color: #fff; 
}

thead h3 {
  margin: 0;
  padding: 10px;
  text-align: center;
}

tbody {
  background-color: #E493B3;
  color: #fff;
}

tr {
  border-bottom: 1px solid #ddd;
}

td {
  padding: 10px;
  text-align: center;
}

/* Footer */
footer {
  background-color: #8E7AB5;
  color: #fff; 
  padding: 20px;
  text-align: center;
}

.footer p{
  margin-bottom: 5px;
}