<footer>
    <h2>Herramientas</h2>
    <p>Editor utilizado: <a href="https://code.visualstudio.com/">Visual Studio Code</a></p>
    <p>Framework utilizado: <a href="https://tailwindcss.com/">Tailwind</a></p>
</footer>
</html>