<%- include("includes/header.ejs") %>

<body>
    <strong>
        ¿Qué otras formas de autentificación existen?
    </strong><br></br>
        Además de las contraseñas, existen varios métodos de autentificación, como la autenticación de dos factores,
        la que pide que un usuario proporcione tanto una contraseña como un código mandado a un dispositivo externo,
        autenticación biométrica, la que pide que un usuario proporcione una característica humana para identificarlo
        (huella dactilar, reconocimiento facial), la autenticación basada en certificado, la que involucra un
        intercambio de certificados digitales únicos entre el dispositivo y el programa, la autenticación basada en
        tokens, la cual implica la generación de un TOTP (Pin Temporal de Un Solo Uso) tanto en el programa como en
        el dispositivo que deben coincidir cuando el usuario la proporcione y la contraseña de un solo uso que expira
        poco después de generarse y debe ser proporcionada por el usuario, la cual la recibe en un dispositivo ajeno.
        <br></br>

    <h3>Bibliografía</h3>
        Microsoft Security. (2023, 6 septiembre). What is authentication? Recuperado de <a href="https://www.microsoft.com/es-es/security/business/security-101/what-is-authentication#">https://www.microsoft.com/es-es/security/business/security-101/what-is-authentication#</a> 
        <br></br>
</body>

<%- include("includes/boton.ejs") %>

<%- include("includes/footer.ejs") %>