<%- include("includes/header.ejs") %>

<strong>
    Describe Material Design.
</strong><br></br>
    Material Design es un software de diseño open-source de Google flexible para facilitar y estandarizar el diseño front-end 
    intuitivo y consistente en una variedad de dispositivos. Es caracterizado por su uso de colores vibrantes inspirados en 
    materiales tangibles reales, utilizados en jerarquía para crear una organización visual limpia pero llamativa y sus componentes 
    y patrones adaptables para utilizar como base al empezar un diseño. Utiliza Roboto como tipografía estándar y un sistema de 
    grillas como parte de su diseño adaptativo y dinámico, pero la fuente puede ser modificada. Además, tiene animaciones responsivas 
    que pueden utilizarse para crear unidad entre los distintos estados de una interfaz. 
    <br></br>

<h3>Bibliografía</h3>
    Material Design. (2016, 20 octubre). Material Design. Recuperado de <a href="https://m3.material.io/">https://m3.material.io/</a> 
    <br></br>
</body>

<%- include("includes/boton.ejs") %>

<%- include("includes/footer.ejs") %>