<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TC2005B - Paulina Almada</title>
        <link rel="stylesheet" href="/css/output.css">
    </head>

    <body>
        <nav>
            <h2>Navegación</h2>
            <select onchange="window.location.href= this.value;">
                <option value="/" selected>Intro</option>
                <optgroup label="Preguntas">
                    <option value="/lab1">Lab 1</option>
                    <option value="/lab3">Lab 3</option>
                    <option value="/lab4">Lab 4</option>
                    <option value="/lab5">Lab 5</option>
                    <option value="/lab6">Lab 6</option>
                    <option value="/lab10">Lab 10</option>
                    <option value="/lab11">Lab 11</option>
                    <option value="/lab12">Lab 12</option>
                </optgroup>
            </select>
        </nav>