<%- include("includes/header.ejs") %>

<body>
    <strong>
        ¿Qué otros templating engines existen para node?
    </strong><br></br>
        Entre los template engines para node más comunes además de EJS 
        están Pug (antes conocido como Jade), Haml.js, Nunjuncks y Marko. 
        Cada uno está inspirado por distintos lenguajes como Ruby y 
        Python y tienen funcionalidades, rendimientos, bibliotecas y 
        compatibilidades distintas. La documentación de Express incluye 
        una lista de varios template engines que se pueden considerar para 
        un proyecto. 
        <br></br>

    <h3>Bibliografía</h3>
        Express.js. (2019, 5 enero). Template Engines. Recuperado de <a href="https://expressjs.com/en/resources/template-engines.html">https://expressjs.com/en/resources/template-engines.html</a> 
    <br></br>
</body>

<%- include("includes/boton.ejs") %>

<%- include("includes/footer.ejs") %>